<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/games.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Games to play!</title>
</head>
<body>
<div id="header">
    Games to play!
</div>
<div id="menu">
    <a href="/">⌂<<<</a>
</div>
<div id="games" class="text">
    <h1> My games:</h1>
    <a href="{% url 'treasure' %}">Treasure game(link)</a>
    <p> Sorry now games is creatings.</p>
    <b> Now you can try my new game but this game is bored and with errors and I upgrading this game.</b>
    <a href="{% url 'art' %}">Art game(my new game) - NOT WORKING</a>
    <p>And you can play my best game hamster clicker(beta version)</p>
    <a href="{% url 'hamster_clicker' %}">Hamster clicker(beta)</a>
    <p> New games is coming!</p>
</div>
<div id="return-home">
    <a href="/">⌂<<<<</a>
</div>
</body>
</html>